* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: #f3f3f3; 
    font-family: 'Arial', sans-serif;
}

h1 {
    height: 3rem;
    line-height: 3rem;
    color: #333; 
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.c1 {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); 
    transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out; 
}

.c1:hover {
    opacity: 0.8; 
    transform: scale(1.1); 
    cursor: pointer;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}








.score-board {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;

  }
  
  #your-score,
  #AI-score{
    font-size: 4rem;
  }
  

















.msg-container {
    text-align: center;
    margin-top: 2rem;
}

#msg {
    font-size: 1.5rem;
    color: #fff;
    background-color:   #555555;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}